<?xml version="1.0"?>

<launch>

  <!-- MODIFIED: base.launch -->
  <arg name="husky_port" default="/dev/prolific" />
  <arg name="joy_port" default="/dev/input/js0" />

  <group ns="husky">
    <!-- Husky harware driver -->
    <node pkg="husky_base" type="husky_node" name="husky_node">
      <rosparam subst_value="true">
        port: $(arg husky_port)

        control_frequency: 10.0
        diagnostic_frequency: 1.0

        max_acceleration: 3.0
        max_speed: 1.0
        wheel_diameter: 0.3302
        polling_timeout: 10.0
      </rosparam>
    </node>

      <!-- Differential controller parameters and basic localization -->
      <include file="$(find husky_control)/launch/control.launch" />

      <!--MODIFIED: Teleop -->
      <include file="$(find teleop_twist_joy)/launch/teleop.launch">
        <!-- Port used to connect to joystick (usually /dev/input/js0) -->
        <arg name="joy_dev" value="$(arg joy_port)"/>
        <arg name="config_filepath" value="$(find rendezvous)/config/teleop_config.yaml"/>
      </include>

      <!-- Mux velocity input -->
      <!-- <node pkg="twist_mux" type="twist_mux" name="twist_mux">
        <rosparam command="load" file="$(find husky_control)/config/twist_mux.yaml" />
        <remap from="cmd_vel_out" to="husky_velocity_controller/cmd_vel" />
      </node> -->

      <!-- Diagnostic Aggregator -->
    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator">
      <rosparam command="load" file="$(find husky_base)/config/diagnostics.yaml" />
    </node>

    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

    <node type="rviz" name="rviz" pkg="rviz" 
          args="-f velodyne -d $(find rendezvous)/config/VLP16_points.rviz" />

  </group>

</launch>
